@page
@model IndexModel

<div class="container mt-4">
    <form method="post" id="form" enctype="multipart/form-data" class="col-md-6 col-12">
        <div class="mb-3">
            <input class="form-control" type="file" id="image" name="image">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text flex-grow-1"></span>
            <button type="submit" name="action" value="equalize" class="btn btn-primary">Equalizer</button>
            <button type="submit" name="action" value="bicubic" class="btn btn-primary">Bicubic upscale</button>
            <button type="submit" name="action" value="compress" class="btn btn-primary">Compress</button>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Sigma</span>
            <input type="number" name="sigma" min="1" value="3" max="20" step="1" class="form-control" />
            <button type="submit" name="action" value="gauss" class="btn btn-primary">Apply Gauss filter</button>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Rotation degree</span>
            <input type="number" name="degree" min="0" value="60" max="360" step="1" class="form-control" />
            <button type="submit" name="action" value="rotate" class="btn btn-primary">Hue rotation</button>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Threshold</span>
            <input type="number" name="threshold" value="0" step="0.01" class="form-control" />
            <button type="submit" name="action" value="denoise" class="btn btn-primary">Noise reduction</button>
        </div>
        <div class="input-group mb-3">
            <input name="lineColor" type="color" value="#ff0000" step="1" class="form-control form-control-color flex-grow-0" style="width: 50px" />
            <span class="input-group-text">Threshold</span>
            <input type="number" name="hough" value="50" step="1" class="form-control" />
            <button type="submit" name="action" value="hough" class="btn btn-primary">Black line detection</button>
        </div>
    </form>
    
    <div id="result"></div>
</div>

<script>
    const form = document.getElementById("form");
    form.addEventListener("submit", (e) => {
        const resultHolder = document.getElementById("result");
        resultHolder.innerHTML = `<div class="spinner-border"></div>`;
        e.preventDefault();
        const formData = new FormData(form);
        formData.append('action', e.submitter.value);
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/", true);
        xhr.onload = (result) => resultHolder.innerHTML = result.target.response;
        xhr.send(formData);
    });
</script>