@page
@using System.Drawing
@using System.Drawing.Imaging
@using System.IO
@model IndexModel

<form method="post" enctype="multipart/form-data">
    <input type="file" name="image" /><br />
    <input type="number" name="sigma" min="1" max="20" step="1" value="3" /> Sigma value<br>
    <br /><br />
    <button type="submit" name="action" value="equalize">Equalizer</button>
    <button type="submit" name="action" value="gauss">Apply Gauss filter</button>
</form>


@if (Model.SourceImage != null)
{
    <div style="display: flex; flex-wrap: wrap; gap: 20px; text-align: center">
        <div>
            <h3>Source image</h3>
            <img src="data:image/jpeg;base64, @(Model.SourceImage)">
        </div>
        <div>
            <h3>Source histogram</h3>
            <img src="data:image/jpeg;base64, @(Model.SourceHistogram)" width="100" height="100" style="margin: auto; border: solid">
        </div>
        <div>
            <h3>Output image</h3>
            <img src="data:image/jpeg;base64, @(Model.OutputImage)">
        </div>
        <div>
            <h3>Output histogram</h3>
            <img src="data:image/jpeg;base64, @(Model.OutputHistogram)" width="100" height="100" style="margin: auto; border: solid">
        </div>
    </div>
}